################################################# FINGER_PRINTER START
config  NUBIA_SENSORS_FP
	tristate "NUBIA FP DEVICE"
	default n

if NUBIA_SENSORS_FP

################################################# FINGER_PRINTER_GF5228M START
source drivers/nubia/fingerprint/gf5228/Kconfig
choice
        prompt "choose the GF5228M device style"
        depends on NUBIA_SENSORS_FP_GF5228
        default NUBIA_SENSORS_FP_GF5228_PLATFORM
        help
           GF5228M need to select the work style

config NUBIA_SENSORS_FP_GF5228_SPI
        bool "GF5228M work as SPI device"
        help
          If you want GF5228M work as SPI device, select it.

config NUBIA_SENSORS_FP_GF5228_PLATFORM
        bool "GF5228M work as PLATFORM device"
        help
          If you want GF5228M work as PLATFORM device, select it.

endchoice
################################################# FINGER_PRINTER_GF5228M END


endif


